body {
    text-align: center;
    background-color: #282828;
    min-width: 350px;
  }
  #form-inside {
    background-color: rgba(255,255,255,0.90);
    margin: 0 auto;
    border-radius:15px;
    width: 80%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px; 
  }
  .labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
    font-family: 'Thasadith', sans-serif;
  }
  .entry {
    display: inline-block;
    width: 40%;
    text-align: left;
    vertical-align: bottom;
    padding: 5px;
  }
  .checkbox, input[input type="checkbox"] {
    margin-right: 5px;
  }
  #submit {
    background-color: #ff0000;
    border-radius: 5px;
    color: black;
    height: 40px;
    width: 96px;
    margin: 10px;
    border: 1px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Thasadith', sans-serif;
  }
  .radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
    font-family: 'Thasadith', sans-serif;
  }
  .dropdown {
    height: 35px;
    width: 100%;
    padding: 5px;
    margin: 10px;
    margin-top: 15px;
    border: 1px;
    border-radius: 5px;  
  }
  .input {
    height: 20px;
    width: 100%;
    padding: 5px;
    margin: 10px;
    border: 1px;
    border-radius: 5px;
    font-family: 'Thasadith', sans-serif;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    color: #ff0000;
  }
  p {
    font-family: 'Thasadith', sans-serif;
  }
  
  @media screen and (max width: 833px) {
    .input {
      width: 80%;
    }
    .select {
      width: 90%;
    }
  }
  @media screen and (max width: 520px) {
    .Labels {
      width: 100%;
      text-align: left;   
    }
    .Entry {
      width: 100%;
    }
    .input {
      width: 100%;
    }
    .dropdown {
      width: 80%;
    }
  }